<a href="https://colab.research.google.com/github/ReidelVichot/LC_identification/blob/main/census_cleaning_11_15_24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Problem Definition

Background

There seems to be a relationship between the agglomeration of logistical activiey and air pollution. To assess this relationship, the author will use a difference in difference natural experiment design with a synthetic control group. The level of analysis is US contigous counties from 1998 to 2022.

Problem

To conduct a synthetic control group analysis, we need to have a set of covariates and controls to construct this synthetic control group. Using information from the US census, we can construct a set of variables that includes covariates and control variables for the analysis.
I will get variables for each county and each year, including total population, share of white, share of male, age groups, industries, and time of commuting.

#Data Collection

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# -- import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# -- set directory path
dpath = "/content/drive/MyDrive/Disertation/Census/"
fname = "DECENNIALDPSF42000.DP1-Data.csv"
# -- create dataframes
decennial_00 = pd.read_csv(dpath + fname, skiprows=1)
# -- add year variable
decennial_00["year"] = 2000

#Data Cleaning

##Decennial 2000

In [50]:
# -- create GEOID
decennial_00["GEOID"] = decennial_00.Geography.str[-5:]

# -- select necesary columns
cols = ['GEOID','Geography', 'Geographic Area Name', 'Race/Ethnic Group',
       'Population Groups', 'Number!!Total population',
       'Number!!Total population!!SEX AND AGE!!Male',
       'Number!!Total population!!SEX AND AGE!!Female',
       'Number!!Total population!!SEX AND AGE!!Under 5 years',
       'Number!!Total population!!SEX AND AGE!!5 to 9 years',
       'Number!!Total population!!SEX AND AGE!!10 to 14 years',
       'Number!!Total population!!SEX AND AGE!!15 to 19 years',
       'Number!!Total population!!SEX AND AGE!!20 to 24 years',
       'Number!!Total population!!SEX AND AGE!!25 to 34 years',
       'Number!!Total population!!SEX AND AGE!!35 to 44 years',
       'Number!!Total population!!SEX AND AGE!!45 to 54 years',
       'Number!!Total population!!SEX AND AGE!!55 to 59 years',
       'Number!!Total population!!SEX AND AGE!!60 to 64 years',
       'Number!!Total population!!SEX AND AGE!!65 to 74 years',
       'Number!!Total population!!SEX AND AGE!!75 to 84 years',
       'Number!!Total population!!SEX AND AGE!!85 years and over',
       'Number!!Total population!!SEX AND AGE!!Median age (years)',
       'Number!!HOUSEHOLDS BY TYPE!!Households',
       'Number!!HOUSEHOLDS BY TYPE!!Households!!Average household size',
       'year']

decennial_00 = decennial_00[cols]

###Checking Each Column

In [ ]:
# Columns to remove
#decennial_00.drop(columns=["Geographic Area Name"], inplace=True)
#decennial_00.drop(columns='Number!!HOUSEHOLDS BY TYPE!!Households!!Family households (families)!!Female householder, no husband present', inplace=True)
#decennial_00.drop(columns='Percent!!HOUSEHOLDS BY TYPE!!Households!!Family households (families)!!Female householder, no husband present', inplace=True)
#decennial_00.drop(columns='Number!!HOUSEHOLDS BY TYPE!!Households!!Family households (families)!!Female householder, no husband present!!With own children under 18 years', inplace=True)
#decennial_00.drop(columns='Percent!!HOUSEHOLDS BY TYPE!!Households!!Family households (families)!!Female householder, no husband present!!With own children under 18 years', inplace=True)
#decennial_00.drop(columns='Number!!HOUSEHOLDS BY TYPE!!Households!!Nonfamily households', inplace=True)
#decennial_00.drop(columns='Percent!!HOUSEHOLDS BY TYPE!!Households!!Nonfamily households', inplace=True)
#decennial_00.drop(columns='Number!!HOUSEHOLDS BY TYPE!!Households!!Nonfamily households!!Householder living alone', inplace=True)
#decennial_00.drop(columns='Percent!!HOUSEHOLDS BY TYPE!!Households!!Nonfamily households!!Householder living alone', inplace=True)
#decennial_00.drop(columns='Number!!HOUSEHOLDS BY TYPE!!Households!!Nonfamily households!!Householder living alone!!Householder 65 years and over', inplace=True)
#decennial_00.drop(columns='Percent!!HOUSEHOLDS BY TYPE!!Households!!Nonfamily households!!Householder living alone!!Householder 65 years and over', inplace=True)
#decennial_00.drop(columns='Number!!HOUSEHOLDS BY TYPE!!Households!!Households with individuals under 18 years', inplace=True)
#decennial_00.drop(columns='Percent!!HOUSEHOLDS BY TYPE!!Households!!Households with individuals under 18 years', inplace=True)
#decennial_00.drop(columns='Number!!HOUSEHOLDS BY TYPE!!Households!!Households with individuals 65 years and over', inplace=True)
#decennial_00.drop(columns='Percent!!HOUSEHOLDS BY TYPE!!Households!!Households with individuals 65 years and over', inplace=True)
#decennial_00.drop(columns='Number!!HOUSING TENURE!!Occupied housing units!!Owner-occupied housing units', inplace=True)
#decennial_00.drop(columns='Percent!!HOUSING TENURE!!Occupied housing units!!Owner-occupied housing units', inplace=True)
#decennial_00.drop(columns='Number!!HOUSING TENURE!!Occupied housing units!!Renter-occupied housing units', inplace=True)
#decennial_00.drop(columns='Percent!!HOUSING TENURE!!Occupied housing units!!Renter-occupied housing units', inplace=True)
#decennial_00.drop(columns='Number!!HOUSING TENURE!!Occupied housing units!!Average household size of owner-occupied unit',inplace=True)
#decennial_00.drop(columns='Percent!!HOUSING TENURE!!Occupied housing units!!Average household size of owner-occupied unit', inplace=True)
#decennial_00.drop(columns='Number!!HOUSING TENURE!!Occupied housing units!!Average household size of renter-occupied unit', inplace=True)
#decennial_00.drop(columns='Percent!!HOUSING TENURE!!Occupied housing units!!Average household size of renter-occupied unit', inplace=True)
#decennial_00.drop(columns='Number!!HOUSEHOLDS BY TYPE!!Households!!Average family size', inplace=True)
#decennial_00.drop(columns='Percent!!HOUSEHOLDS BY TYPE!!Households!!Average family size', inplace=True)
#decennial_00.drop(columns='Number!!HOUSING TENURE!!Occupied housing units', inplace=True)
#decennial_00.drop(columns='Percent!!HOUSING TENURE!!Occupied housing units', inplace=True)
#decennial_00.drop(columns='Number!!HOUSEHOLDS BY TYPE!!Households!!Family households (families)', inplace=True)
#decennial_00.drop(columns='Percent!!HOUSEHOLDS BY TYPE!!Households!!Family households (families)', inplace=True)
#decennial_00.drop(columns='Number!!HOUSEHOLDS BY TYPE!!Households!!Family households (families)!!With own children under 18 years', inplace=True)
#decennial_00.drop(columns='Percent!!HOUSEHOLDS BY TYPE!!Households!!Family households (families)!!With own children under 18 years', inplace=True)
#decennial_00.drop(columns='Number!!HOUSEHOLDS BY TYPE!!Households!!Family households (families)!!Married-couple family', inplace=True)
#decennial_00.drop(columns='Percent!!HOUSEHOLDS BY TYPE!!Households!!Family households (families)!!Married-couple family', inplace=True)
#decennial_00.drop(columns='Number!!HOUSEHOLDS BY TYPE!!Households!!Family households (families)!!Married-couple family!!With own children under 18 years', inplace=True)
#decennial_00.drop(columns='Percent!!HOUSEHOLDS BY TYPE!!Households!!Family households (families)!!Married-couple family!!With own children under 18 years', inplace=True)
#decennial_00.drop(columns='Percent!!RELATIONSHIP!!Population!!In households!!Other relatives', inplace=True)
#decennial_00.drop(columns='Number!!RELATIONSHIP!!Population!!In households!!Other relatives!!Under 18 years', inplace=True)
#decennial_00.drop(columns='Percent!!RELATIONSHIP!!Population!!In households!!Other relatives!!Under 18 years', inplace=True)
#decennial_00.drop(columns='Number!!RELATIONSHIP!!Population!!In households!!Nonrelatives', inplace=True)
#decennial_00.drop(columns='Percent!!RELATIONSHIP!!Population!!In households!!Nonrelatives', inplace=True)
#decennial_00.drop(columns='Number!!RELATIONSHIP!!Population!!In households!!Nonrelatives!!Unmarried partner', inplace=True)
#decennial_00.drop(columns='Percent!!RELATIONSHIP!!Population!!In households!!Nonrelatives!!Unmarried partner', inplace=True)
#decennial_00.drop(columns='Number!!RELATIONSHIP!!Population!!In group quarters', inplace=True)
#decennial_00.drop(columns='Percent!!RELATIONSHIP!!Population!!In group quarters', inplace=True)
#decennial_00.drop(columns='Number!!RELATIONSHIP!!Population!!In group quarters!!Institutionalized population', inplace=True)
#decennial_00.drop(columns='Percent!!RELATIONSHIP!!Population!!In group quarters!!Institutionalized population', inplace=True)
#decennial_00.drop(columns='Number!!RELATIONSHIP!!Population!!In group quarters!!Noninstitutionalized population', inplace=True)
#decennial_00.drop(columns='Percent!!RELATIONSHIP!!Population!!In group quarters!!Noninstitutionalized population', inplace=True)
#decennial_00.drop(columns='Number!!RELATIONSHIP!!Population', inplace=True)
#decennial_00.drop(columns='Percent!!RELATIONSHIP!!Population', inplace=True)
#decennial_00.drop(columns='Number!!RELATIONSHIP!!Population!!In households', inplace= True)
#decennial_00.drop(columns='Percent!!RELATIONSHIP!!Population!!In households', inplace= True)
#decennial_00.drop(columns='Number!!RELATIONSHIP!!Population!!In households!!Householder', inplace= True)
#decennial_00.drop(columns='Percent!!RELATIONSHIP!!Population!!In households!!Householder', inplace= True)
#decennial_00.drop(columns='Number!!RELATIONSHIP!!Population!!In households!!Spouse', inplace= True)
#decennial_00.drop(columns='Percent!!RELATIONSHIP!!Population!!In households!!Spouse', inplace= True)
#decennial_00.drop(columns='Number!!RELATIONSHIP!!Population!!In households!!Child', inplace= True)
#decennial_00.drop(columns='Percent!!RELATIONSHIP!!Population!!In households!!Child', inplace= True)
#decennial_00.drop(columns='Number!!RELATIONSHIP!!Population!!In households!!Child!!Own child under 18 years', inplace= True)
#decennial_00.drop(columns='Percent!!RELATIONSHIP!!Population!!In households!!Child!!Own child under 18 years', inplace= True)
#decennial_00.drop(columns='Number!!RELATIONSHIP!!Population!!In households!!Other relatives', inplace= True)
#decennial_00.drop(columns='Number!!Total population!!SEX AND AGE!!65 years and over!!Male' , inplace=True)
#decennial_00.drop(columns='Percent!!Total population!!SEX AND AGE!!65 years and over!!Male' , inplace=True)
#decennial_00.drop(columns='Number!!Total population!!SEX AND AGE!!65 years and over!!Female' , inplace= True)
#decennial_00.drop(columns='Percent!!Total population!!SEX AND AGE!!65 years and over!!Female' , inplace= True)
#decennial_00.drop(columns='Number!!Total population!!SEX AND AGE!!18 years and over', inplace=True)
#decennial_00.drop(columns='Percent!!Total population!!SEX AND AGE!!18 years and over', inplace=True)
#decennial_00.drop(columns='Number!!Total population!!SEX AND AGE!!18 years and over!!Male', inplace= True)
#decennial_00.drop(columns='Percent!!Total population!!SEX AND AGE!!18 years and over!!Male', inplace= True)
#decennial_00.drop(columns='Number!!Total population!!SEX AND AGE!!18 years and over!!Female', inplace=True)
#decennial_00.drop(columns='Percent!!Total population!!SEX AND AGE!!18 years and over!!Female', inplace=True)
#decennial_00.drop(columns='Number!!Total population!!SEX AND AGE!!21 years and over', inplace= True)
#decennial_00.drop(columns='Percent!!Total population!!SEX AND AGE!!21 years and over', inplace= True)
#decennial_00.drop(columns='Number!!Total population!!SEX AND AGE!!62 years and over', inplace=True)
#decennial_00.drop(columns='Percent!!Total population!!SEX AND AGE!!62 years and over', inplace=True)
#decennial_00.drop(columns='Number!!Total population!!SEX AND AGE!!65 years and over', inplace= True)
#decennial_00.drop(columns='Percent!!Total population!!SEX AND AGE!!65 years and over', inplace= True)
#decennial_00.drop(columns='Percent!!Total population', inplace= True)
#decennial_00.drop(columns='Percent!!Total population!!SEX AND AGE!!Male', inplace=True)
#decennial_00.drop(columns='Percent!!Total population!!SEX AND AGE!!Female', inplace=True)
#decennial_00.drop(columns='Percent!!Total population!!SEX AND AGE!!Under 5 years', inplace= True)
#decennial_00.drop(columns='Percent!!Total population!!SEX AND AGE!!5 to 9 years', inplace= True)
#decennial_00.drop(columns='Percent!!Total population!!SEX AND AGE!!10 to 14 years', inplace= True)
#decennial_00.drop(columns='Percent!!Total population!!SEX AND AGE!!15 to 19 years', inplace=True)
#decennial_00.drop(columns='Percent!!Total population!!SEX AND AGE!!20 to 24 years', inplace=True)
#decennial_00.drop(columns='Percent!!Total population!!SEX AND AGE!!25 to 34 years', inplace= True)
#decennial_00.drop(columns='Percent!!Total population!!SEX AND AGE!!35 to 44 years', inplace= True)
#decennial_00.drop(columns='Percent!!Total population!!SEX AND AGE!!45 to 54 years', inplace= True)
#decennial_00.drop(columns='Percent!!Total population!!SEX AND AGE!!55 to 59 years', inplace=True)
#decennial_00.drop(columns='Percent!!Total population!!SEX AND AGE!!60 to 64 years', inplace=True)
#decennial_00.drop(columns='Percent!!Total population!!SEX AND AGE!!65 to 74 years', inplace= True)
#decennial_00.drop(columns='Percent!!Total population!!SEX AND AGE!!75 to 84 years', inplace= True)
#decennial_00.drop(columns='Percent!!Total population!!SEX AND AGE!!85 years and over', inplace= True)
#decennial_00.drop(columns='Percent!!Total population!!SEX AND AGE!!Median age (years)', inplace=True)
#decennial_00.drop(columns='Percent!!HOUSEHOLDS BY TYPE!!Households', inplace=True)
#decennial_00.drop(columns='Percent!!HOUSEHOLDS BY TYPE!!Households!!Average household size', inplace= True)
#decennial_00.drop(columns='Unnamed: 118', inplace= True)

###Continuing Code

In [51]:
# -- rename columns for simplicity
renamed_columns = {'Number!!Total population': "total_population",
                   'Number!!Total population!!SEX AND AGE!!Male': "male",
                   'Number!!Total population!!SEX AND AGE!!Female': "female",
                   'Number!!Total population!!SEX AND AGE!!Under 5 years': "under_5_years",
                   'Number!!Total population!!SEX AND AGE!!5 to 9 years': '5_to_9_years',
                   'Number!!Total population!!SEX AND AGE!!10 to 14 years': '10_to_14_years',
                   'Number!!Total population!!SEX AND AGE!!15 to 19 years': '15_to_19_years',
                   'Number!!Total population!!SEX AND AGE!!20 to 24 years': '20_to_24_years',
                   'Number!!Total population!!SEX AND AGE!!25 to 34 years': '25_to_34_years',
                   'Number!!Total population!!SEX AND AGE!!35 to 44 years': '35_to_44_years',
                   'Number!!Total population!!SEX AND AGE!!45 to 54 years': '45_to_54_years',
                   'Number!!Total population!!SEX AND AGE!!55 to 59 years': '55_to_59_years',
                   'Number!!Total population!!SEX AND AGE!!60 to 64 years': '60_to_64_years',
                   'Number!!Total population!!SEX AND AGE!!65 to 74 years': '65_to_74_years',
                   'Number!!Total population!!SEX AND AGE!!75 to 84 years': '75_to_84_years',
                   'Number!!Total population!!SEX AND AGE!!85 years and over': '85_years_and_over',
                   'Number!!Total population!!SEX AND AGE!!Median age (years)': 'median_age',
                   'Number!!HOUSEHOLDS BY TYPE!!Households': 'households',
                   'Number!!HOUSEHOLDS BY TYPE!!Households!!Average household size': 'average_household_size'}
decennial_00.rename(columns=renamed_columns, inplace=True)

# -- create age groups
decennial_00["Age < 15"] = decennial_00['under_5_years'] + decennial_00['5_to_9_years'] + decennial_00['10_to_14_years']
decennial_00["Age 15-24"] = decennial_00['15_to_19_years'] + decennial_00['20_to_24_years']
decennial_00["Age 25-44"] = decennial_00['25_to_34_years'] + decennial_00['35_to_44_years']
decennial_00["Age 45-64"] = decennial_00['45_to_54_years'] + decennial_00['55_to_59_years'] + decennial_00['60_to_64_years']
decennial_00["Age >= 65"] = decennial_00['65_to_74_years'] + decennial_00['75_to_84_years'] + decennial_00['85_years_and_over']

# -- drop unnecesary columns
decennial_00.drop(columns= ['under_5_years', '5_to_9_years', '10_to_14_years',
                            '15_to_19_years', '20_to_24_years', '25_to_34_years',
                            '35_to_44_years', '45_to_54_years', '55_to_59_years',
                            '60_to_64_years', '65_to_74_years', '75_to_84_years',
                            '85_years_and_over'], inplace=True)

# -- create a variable for white population
white = decennial_00[decennial_00["Race/Ethnic Group"] == 2][["total_population"]].values.copy()

# -- add variable to the decennial dataframe
decennial_00 = decennial_00[decennial_00['Race/Ethnic Group'] == 1].reset_index(drop=True)
decennial_00["white"] = white
del white

decennial_00.drop(columns=['Geography', 'Geographic Area Name',
                           'Race/Ethnic Group', 'Population Groups'], inplace=True)

# -- organize columns
cols = ['GEOID', 'year', 'total_population', 'white', 'male', 'female', 'median_age',
       'households', 'average_household_size', 'Age < 15', 'Age 15-24',
       'Age 25-44', 'Age 45-64', 'Age >= 65']
decennial_00 = decennial_00[cols]
decennial_00.head()

##ACS 2010

In [5]:
fname = "ACSST1Y2010.S0101-Data.csv"
acs1_10 = pd.read_csv(dpath + fname, skiprows=1)
fname = "ACSST5Y2010.S0101-Data.csv"
acs5_10 = pd.read_csv(dpath + fname, skiprows=1)

In [46]:
# -- create GEOID
acs5_10["GEOID"] = acs5_10.Geography.str[-5:]
# -- create year
acs5_10["year"] = 2010

AttributeError: 'DataFrame' object has no attribute 'Geography'

In [ ]:
# -- drop columns

In [7]:
acs5_10.drop(columns=['Geography', 'Geographic Area Name'], inplace=True)
acs5_10.drop(columns=['Total!!Margin of Error!!Total population'], inplace=True)
acs5_10.drop(columns=['Male!!Margin of Error!!Total population'], inplace=True)
acs5_10.drop(columns=['Female!!Margin of Error!!Total population'], inplace=True)
acs5_10.drop(columns=['Male!!Estimate!!AGE!!Under 5 years',
       'Male!!Margin of Error!!AGE!!Under 5 years',
       'Female!!Estimate!!AGE!!Under 5 years',
       'Female!!Margin of Error!!AGE!!Under 5 years',
       'Total!!Estimate!!AGE!!5 to 9 years',
       'Total!!Margin of Error!!AGE!!5 to 9 years',
       'Male!!Estimate!!AGE!!5 to 9 years',
       'Male!!Margin of Error!!AGE!!5 to 9 years',
       'Female!!Estimate!!AGE!!5 to 9 years',
       'Female!!Margin of Error!!AGE!!5 to 9 years',
       'Total!!Estimate!!AGE!!10 to 14 years',
       'Total!!Margin of Error!!AGE!!10 to 14 years',
       'Male!!Estimate!!AGE!!10 to 14 years',
       'Male!!Margin of Error!!AGE!!10 to 14 years',
       'Female!!Estimate!!AGE!!10 to 14 years',
       'Female!!Margin of Error!!AGE!!10 to 14 years',
       'Total!!Estimate!!AGE!!15 to 19 years',
       'Total!!Margin of Error!!AGE!!15 to 19 years',
       'Male!!Estimate!!AGE!!15 to 19 years',
       'Male!!Margin of Error!!AGE!!15 to 19 years',
       'Female!!Estimate!!AGE!!15 to 19 years',
       'Female!!Margin of Error!!AGE!!15 to 19 years'], inplace=True)
acs5_10.drop(columns=['Male!!Estimate!!AGE!!20 to 24 years',
       'Male!!Margin of Error!!AGE!!20 to 24 years',
       'Female!!Estimate!!AGE!!20 to 24 years',
       'Female!!Margin of Error!!AGE!!20 to 24 years'], inplace=True)
acs5_10.drop(columns=['Male!!Estimate!!AGE!!25 to 29 years',
       'Male!!Margin of Error!!AGE!!25 to 29 years',
       'Female!!Estimate!!AGE!!25 to 29 years',
       'Female!!Margin of Error!!AGE!!25 to 29 years'], inplace=True)
acs5_10.drop(columns=['Male!!Estimate!!AGE!!30 to 34 years',
       'Male!!Margin of Error!!AGE!!30 to 34 years',
       'Female!!Estimate!!AGE!!30 to 34 years',
       'Female!!Margin of Error!!AGE!!30 to 34 years'], inplace=True)
acs5_10.drop(columns=['Male!!Estimate!!AGE!!35 to 39 years',
       'Male!!Margin of Error!!AGE!!35 to 39 years',
       'Female!!Estimate!!AGE!!35 to 39 years',
       'Female!!Margin of Error!!AGE!!35 to 39 years'], inplace=True)
acs5_10.drop(columns=['Male!!Estimate!!AGE!!40 to 44 years',
       'Male!!Margin of Error!!AGE!!40 to 44 years',
       'Female!!Estimate!!AGE!!40 to 44 years',
       'Female!!Margin of Error!!AGE!!40 to 44 years',
       'Male!!Estimate!!AGE!!45 to 49 years',
       'Male!!Margin of Error!!AGE!!45 to 49 years',
       'Female!!Estimate!!AGE!!45 to 49 years',
       'Female!!Margin of Error!!AGE!!45 to 49 years',
       'Male!!Estimate!!AGE!!50 to 54 years',
       'Male!!Margin of Error!!AGE!!50 to 54 years',
       'Female!!Estimate!!AGE!!50 to 54 years',
       'Female!!Margin of Error!!AGE!!50 to 54 years'], inplace=True)
acs5_10.drop(columns=['Male!!Estimate!!AGE!!55 to 59 years',
       'Male!!Margin of Error!!AGE!!55 to 59 years',
       'Female!!Estimate!!AGE!!55 to 59 years',
       'Female!!Margin of Error!!AGE!!55 to 59 years',
       'Male!!Estimate!!AGE!!60 to 64 years',
       'Male!!Margin of Error!!AGE!!60 to 64 years',
       'Female!!Estimate!!AGE!!60 to 64 years',
       'Female!!Margin of Error!!AGE!!60 to 64 years',
       'Male!!Estimate!!AGE!!65 to 69 years',
       'Male!!Margin of Error!!AGE!!65 to 69 years',
       'Female!!Estimate!!AGE!!65 to 69 years',
       'Female!!Margin of Error!!AGE!!65 to 69 years'], inplace=True)
acs5_10.drop(columns=['Male!!Estimate!!AGE!!70 to 74 years',
       'Male!!Margin of Error!!AGE!!70 to 74 years',
       'Female!!Estimate!!AGE!!70 to 74 years',
       'Female!!Margin of Error!!AGE!!70 to 74 years',
       'Male!!Estimate!!AGE!!75 to 79 years',
       'Male!!Margin of Error!!AGE!!75 to 79 years',
       'Female!!Estimate!!AGE!!75 to 79 years',
       'Female!!Margin of Error!!AGE!!75 to 79 years',
       'Male!!Estimate!!AGE!!80 to 84 years',
       'Male!!Margin of Error!!AGE!!80 to 84 years',
       'Female!!Estimate!!AGE!!80 to 84 years',
       'Female!!Margin of Error!!AGE!!80 to 84 years',
       'Male!!Estimate!!AGE!!85 years and over',
       'Male!!Margin of Error!!AGE!!85 years and over',
       'Female!!Estimate!!AGE!!85 years and over',
       'Female!!Margin of Error!!AGE!!85 years and over'], inplace=True)
acs5_10.drop(columns=['Female!!Estimate!!SELECTED AGE CATEGORIES!!15 to 17 years',
 'Female!!Estimate!!SELECTED AGE CATEGORIES!!15 to 44 years',
 'Female!!Estimate!!SELECTED AGE CATEGORIES!!18 to 24 years',
 'Female!!Estimate!!SELECTED AGE CATEGORIES!!5 to 14 years',
 'Female!!Margin of Error!!SELECTED AGE CATEGORIES!!15 to 17 years',
 'Female!!Margin of Error!!SELECTED AGE CATEGORIES!!15 to 44 years',
 'Female!!Margin of Error!!SELECTED AGE CATEGORIES!!18 to 24 years',
 'Female!!Margin of Error!!SELECTED AGE CATEGORIES!!5 to 14 years',
 'Male!!Estimate!!SELECTED AGE CATEGORIES!!15 to 17 years',
 'Male!!Estimate!!SELECTED AGE CATEGORIES!!15 to 44 years',
 'Male!!Estimate!!SELECTED AGE CATEGORIES!!16 years and over',
 'Male!!Estimate!!SELECTED AGE CATEGORIES!!18 to 24 years',
 'Male!!Estimate!!SELECTED AGE CATEGORIES!!5 to 14 years',
 'Male!!Margin of Error!!SELECTED AGE CATEGORIES!!15 to 17 years',
 'Male!!Margin of Error!!SELECTED AGE CATEGORIES!!15 to 44 years',
 'Male!!Margin of Error!!SELECTED AGE CATEGORIES!!18 to 24 years',
 'Male!!Margin of Error!!SELECTED AGE CATEGORIES!!5 to 14 years'], inplace=True)
acs5_10.drop(columns=['Female!!Estimate!!SELECTED AGE CATEGORIES!!16 years and over',
 'Female!!Estimate!!SELECTED AGE CATEGORIES!!18 years and over',
 'Female!!Estimate!!SELECTED AGE CATEGORIES!!60 years and over',
 'Female!!Margin of Error!!SELECTED AGE CATEGORIES!!16 years and over',
 'Female!!Margin of Error!!SELECTED AGE CATEGORIES!!18 years and over',
 'Female!!Margin of Error!!SELECTED AGE CATEGORIES!!60 years and over',
 'Male!!Estimate!!SELECTED AGE CATEGORIES!!18 years and over',
 'Male!!Estimate!!SELECTED AGE CATEGORIES!!60 years and over',
 'Male!!Margin of Error!!SELECTED AGE CATEGORIES!!16 years and over',
 'Male!!Margin of Error!!SELECTED AGE CATEGORIES!!18 years and over',
 'Male!!Margin of Error!!SELECTED AGE CATEGORIES!!60 years and over'], inplace=True)
acs5_10.drop(columns=['Female!!Estimate!!SELECTED AGE CATEGORIES!!62 years and over',
 'Female!!Estimate!!SELECTED AGE CATEGORIES!!65 years and over',
 'Female!!Estimate!!SELECTED AGE CATEGORIES!!75 years and over',
 'Female!!Estimate!!SUMMARY INDICATORS!!Median age (years)',
 'Female!!Estimate!!SUMMARY INDICATORS!!Sex ratio (males per 100 females)',
 'Female!!Margin of Error!!SELECTED AGE CATEGORIES!!62 years and over',
 'Female!!Margin of Error!!SELECTED AGE CATEGORIES!!65 years and over',
 'Female!!Margin of Error!!SELECTED AGE CATEGORIES!!75 years and over',
 'Female!!Margin of Error!!SUMMARY INDICATORS!!Median age (years)',
 'Female!!Margin of Error!!SUMMARY INDICATORS!!Sex ratio (males per 100 females)',
 'Male!!Estimate!!SELECTED AGE CATEGORIES!!62 years and over',
 'Male!!Estimate!!SELECTED AGE CATEGORIES!!65 years and over',
 'Male!!Estimate!!SELECTED AGE CATEGORIES!!75 years and over',
 'Male!!Estimate!!SUMMARY INDICATORS!!Age dependency ratio',
 'Male!!Estimate!!SUMMARY INDICATORS!!Median age (years)',
 'Male!!Estimate!!SUMMARY INDICATORS!!Sex ratio (males per 100 females)',
 'Male!!Margin of Error!!SELECTED AGE CATEGORIES!!62 years and over',
 'Male!!Margin of Error!!SELECTED AGE CATEGORIES!!65 years and over',
 'Male!!Margin of Error!!SELECTED AGE CATEGORIES!!75 years and over',
 'Male!!Margin of Error!!SUMMARY INDICATORS!!Median age (years)',
 'Male!!Margin of Error!!SUMMARY INDICATORS!!Sex ratio (males per 100 females)'], inplace=True)
acs5_10.drop(columns=['Total!!Margin of Error!!AGE!!55 to 59 years',
 'Total!!Margin of Error!!AGE!!60 to 64 years',
 'Total!!Margin of Error!!AGE!!65 to 69 years',
 'Total!!Margin of Error!!AGE!!70 to 74 years',
 'Total!!Margin of Error!!AGE!!75 to 79 years',
 'Total!!Margin of Error!!AGE!!80 to 84 years',
 'Total!!Margin of Error!!AGE!!85 years and over',
 'Total!!Margin of Error!!PERCENT IMPUTED!!Sex',
 'Total!!Margin of Error!!SELECTED AGE CATEGORIES!!15 to 17 years',
 'Total!!Margin of Error!!SELECTED AGE CATEGORIES!!15 to 44 years',
 'Total!!Margin of Error!!SELECTED AGE CATEGORIES!!16 years and over',
 'Total!!Margin of Error!!SELECTED AGE CATEGORIES!!18 to 24 years',
 'Total!!Margin of Error!!SELECTED AGE CATEGORIES!!18 years and over',
 'Total!!Margin of Error!!SELECTED AGE CATEGORIES!!5 to 14 years',
 'Total!!Margin of Error!!SELECTED AGE CATEGORIES!!60 years and over',
 'Total!!Margin of Error!!SELECTED AGE CATEGORIES!!62 years and over',
 'Total!!Margin of Error!!SELECTED AGE CATEGORIES!!65 years and over',
 'Total!!Margin of Error!!SELECTED AGE CATEGORIES!!75 years and over',
 'Total!!Margin of Error!!SUMMARY INDICATORS!!Age dependency ratio',
 'Total!!Margin of Error!!SUMMARY INDICATORS!!Age dependency ratio!!Child dependency ratio',
 'Total!!Margin of Error!!SUMMARY INDICATORS!!Age dependency ratio!!Old-age dependency ratio',
 'Total!!Margin of Error!!SUMMARY INDICATORS!!Median age (years)',
 'Total!!Margin of Error!!SUMMARY INDICATORS!!Sex ratio (males per 100 females)'], inplace=True)
acs5_10.drop(columns=['Total!!Margin of Error!!AGE!!20 to 24 years',
 'Total!!Margin of Error!!AGE!!25 to 29 years',
 'Total!!Margin of Error!!AGE!!30 to 34 years',
 'Total!!Margin of Error!!AGE!!35 to 39 years',
 'Total!!Margin of Error!!AGE!!40 to 44 years',
 'Total!!Margin of Error!!AGE!!45 to 49 years',
 'Total!!Margin of Error!!AGE!!50 to 54 years',
 'Total!!Margin of Error!!AGE!!Under 5 years',
 'Total!!Margin of Error!!PERCENT IMPUTED!!Age',
 'Unnamed: 218'], inplace=True)
acs5_10.drop(columns=['Male!!Margin of Error!!PERCENT IMPUTED!!Age',
 'Male!!Margin of Error!!PERCENT IMPUTED!!Sex',
 'Male!!Margin of Error!!SUMMARY INDICATORS!!Age dependency ratio',
 'Male!!Margin of Error!!SUMMARY INDICATORS!!Age dependency ratio!!Child dependency ratio',
 'Male!!Margin of Error!!SUMMARY INDICATORS!!Age dependency ratio!!Old-age dependency ratio'], inplace=True)
acs5_10.drop(columns=['Female!!Margin of Error!!PERCENT IMPUTED!!Age',
 'Female!!Margin of Error!!PERCENT IMPUTED!!Sex',
 'Female!!Margin of Error!!SUMMARY INDICATORS!!Age dependency ratio',
 'Female!!Margin of Error!!SUMMARY INDICATORS!!Age dependency ratio!!Child dependency ratio',
 'Female!!Margin of Error!!SUMMARY INDICATORS!!Age dependency ratio!!Old-age dependency ratio'], inplace=True)
acs5_10.drop(columns=['Female!!Estimate!!PERCENT IMPUTED!!Age',
 'Female!!Estimate!!PERCENT IMPUTED!!Sex',
 'Female!!Estimate!!SUMMARY INDICATORS!!Age dependency ratio',
 'Female!!Estimate!!SUMMARY INDICATORS!!Age dependency ratio!!Child dependency ratio',
 'Female!!Estimate!!SUMMARY INDICATORS!!Age dependency ratio!!Old-age dependency ratio'], inplace=True)
acs5_10.drop(columns=['Male!!Estimate!!PERCENT IMPUTED!!Age',
 'Male!!Estimate!!PERCENT IMPUTED!!Sex',
 'Male!!Estimate!!SUMMARY INDICATORS!!Age dependency ratio!!Child dependency ratio',
 'Male!!Estimate!!SUMMARY INDICATORS!!Age dependency ratio!!Old-age dependency ratio'], inplace=True)
acs5_10.drop(columns=['Total!!Estimate!!SELECTED AGE CATEGORIES!!15 to 17 years',
 'Total!!Estimate!!SELECTED AGE CATEGORIES!!15 to 44 years',
 'Total!!Estimate!!SELECTED AGE CATEGORIES!!16 years and over',
 'Total!!Estimate!!SELECTED AGE CATEGORIES!!18 to 24 years',
 'Total!!Estimate!!SELECTED AGE CATEGORIES!!18 years and over',
 'Total!!Estimate!!SELECTED AGE CATEGORIES!!5 to 14 years',
 'Total!!Estimate!!SELECTED AGE CATEGORIES!!60 years and over',
 'Total!!Estimate!!SELECTED AGE CATEGORIES!!62 years and over',
 'Total!!Estimate!!SELECTED AGE CATEGORIES!!65 years and over',
 'Total!!Estimate!!SELECTED AGE CATEGORIES!!75 years and over'], inplace=True)

In [45]:
sorted(list(acs5_10.columns))

['Female!!Estimate!!Total population',
 'GEOID',
 'Male!!Estimate!!Total population',
 'Total!!Estimate!!AGE!!20 to 24 years',
 'Total!!Estimate!!AGE!!25 to 29 years',
 'Total!!Estimate!!AGE!!30 to 34 years',
 'Total!!Estimate!!AGE!!35 to 39 years',
 'Total!!Estimate!!AGE!!40 to 44 years',
 'Total!!Estimate!!AGE!!45 to 49 years',
 'Total!!Estimate!!AGE!!50 to 54 years',
 'Total!!Estimate!!AGE!!55 to 59 years',
 'Total!!Estimate!!AGE!!60 to 64 years',
 'Total!!Estimate!!AGE!!65 to 69 years',
 'Total!!Estimate!!AGE!!70 to 74 years',
 'Total!!Estimate!!AGE!!75 to 79 years',
 'Total!!Estimate!!AGE!!80 to 84 years',
 'Total!!Estimate!!AGE!!85 years and over',
 'Total!!Estimate!!AGE!!Under 5 years',
 'Total!!Estimate!!Total population']