<a href="https://colab.research.google.com/github/ReidelVichot/LC_identification/blob/main/census_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Problem Definition

Background

There seems to be a relationship between the agglomeration of logistical activiey and air pollution. To assess this relationship, the author will use a difference in difference natural experiment design with a synthetic control group. The level of analysis is US contigous counties from 1998 to 2022.

Problem

To conduct a synthetic control group analysis, we need to have a set of covariates and controls to construct this synthetic control group. Using information from the US census, we can construct a set of variables that includes covariates and control variables for the analysis.
I will get variables for each county and each year, including total population, share of white, share of male, age groups, industries, and time of commuting.

#Data Collection

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# -- import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
# -- set directory path
dpath = "/content/drive/MyDrive/Disertation/Census/"
fname = "DECENNIALDPSF42000.DP1-Data.csv"
# -- create dataframes
decennial_00 = pd.read_csv(dpath + fname, skiprows=1)
# -- add year variable
decennial_00["year"] = 2000

#Data Cleaning

In [19]:
# -- create GEOID
decennial_00["GEOID"] = decennial_00.Geography.str[-5:]

# -- select necesary columns
cols = [
        'Number!!HOUSEHOLDS BY TYPE!!Households!!Average household size',
        'Percent!!HOUSEHOLDS BY TYPE!!Households!!Average household size',

        ]

decennial_00 = decennial_00[[cols]]

In [25]:
#decennial_00.drop(columns=["Geography"], inplace=True)
decennial_00.drop(columns=["Geographic Area Name"], inplace=True)

In [ ]:
decennial_00.drop(columns='Number!!HOUSEHOLDS BY TYPE!!Households!!Family households (families)!!Female householder, no husband present', inplace=True)
decennial_00.drop(columns='Percent!!HOUSEHOLDS BY TYPE!!Households!!Family households (families)!!Female householder, no husband present', inplace=True)
decennial_00.drop(columns='Number!!HOUSEHOLDS BY TYPE!!Households!!Family households (families)!!Female householder, no husband present!!With own children under 18 years', inplace=True)
decennial_00.drop(columns='Percent!!HOUSEHOLDS BY TYPE!!Households!!Family households (families)!!Female householder, no husband present!!With own children under 18 years', inplace=True)
decennial_00.drop(columns='Number!!HOUSEHOLDS BY TYPE!!Households!!Nonfamily households', inplace=True)
decennial_00.drop(columns='Percent!!HOUSEHOLDS BY TYPE!!Households!!Nonfamily households', inplace=True)
decennial_00.drop(columns='Number!!HOUSEHOLDS BY TYPE!!Households!!Nonfamily households!!Householder living alone', inplace=True)
decennial_00.drop(columns='Percent!!HOUSEHOLDS BY TYPE!!Households!!Nonfamily households!!Householder living alone', inplace=True)
decennial_00.drop(columns='Number!!HOUSEHOLDS BY TYPE!!Households!!Nonfamily households!!Householder living alone!!Householder 65 years and over', inplace=True)
decennial_00.drop(columns='Percent!!HOUSEHOLDS BY TYPE!!Households!!Nonfamily households!!Householder living alone!!Householder 65 years and over', inplace=True)
decennial_00.drop(columns='Number!!HOUSEHOLDS BY TYPE!!Households!!Households with individuals under 18 years', inplace=True)
decennial_00.drop(columns='Percent!!HOUSEHOLDS BY TYPE!!Households!!Households with individuals under 18 years', inplace=True)
decennial_00.drop(columns='Number!!HOUSEHOLDS BY TYPE!!Households!!Households with individuals 65 years and over', inplace=True)
decennial_00.drop(columns='Percent!!HOUSEHOLDS BY TYPE!!Households!!Households with individuals 65 years and over', inplace=True)
decennial_00.drop(columns='Number!!HOUSING TENURE!!Occupied housing units!!Owner-occupied housing units', inplace=True)
decennial_00.drop(columns='Percent!!HOUSING TENURE!!Occupied housing units!!Owner-occupied housing units', inplace=True)
decennial_00.drop(columns='Number!!HOUSING TENURE!!Occupied housing units!!Renter-occupied housing units', inplace=True)
decennial_00.drop(columns='Percent!!HOUSING TENURE!!Occupied housing units!!Renter-occupied housing units', inplace=True)
decennial_00.drop(columns='Number!!HOUSING TENURE!!Occupied housing units!!Average household size of owner-occupied unit',inplace=True)
decennial_00.drop(columns='Percent!!HOUSING TENURE!!Occupied housing units!!Average household size of owner-occupied unit', inplace=True)
decennial_00.drop(columns='Number!!HOUSING TENURE!!Occupied housing units!!Average household size of renter-occupied unit', inplace=True)
decennial_00.drop(columns='Percent!!HOUSING TENURE!!Occupied housing units!!Average household size of renter-occupied unit', inplace=True)
decennial_00.drop(columns='Number!!HOUSEHOLDS BY TYPE!!Households!!Average family size', inplace=True)
decennial_00.drop(columns='Percent!!HOUSEHOLDS BY TYPE!!Households!!Average family size', inplace=True)
decennial_00.drop(columns='Number!!HOUSING TENURE!!Occupied housing units', inplace=True)
decennial_00.drop(columns='Percent!!HOUSING TENURE!!Occupied housing units', inplace=True)
decennial_00.drop(columns='Number!!HOUSEHOLDS BY TYPE!!Households!!Family households (families)', inplace=True)
decennial_00.drop(columns='Percent!!HOUSEHOLDS BY TYPE!!Households!!Family households (families)', inplace=True)
decennial_00.drop(columns='Number!!HOUSEHOLDS BY TYPE!!Households!!Family households (families)!!With own children under 18 years', inplace=True)
decennial_00.drop(columns='Percent!!HOUSEHOLDS BY TYPE!!Households!!Family households (families)!!With own children under 18 years', inplace=True)
decennial_00.drop(columns='Number!!HOUSEHOLDS BY TYPE!!Households!!Family households (families)!!Married-couple family', inplace=True)
decennial_00.drop(columns='Percent!!HOUSEHOLDS BY TYPE!!Households!!Family households (families)!!Married-couple family', inplace=True)
decennial_00.drop(columns='Number!!HOUSEHOLDS BY TYPE!!Households!!Family households (families)!!Married-couple family!!With own children under 18 years', inplace=True)
decennial_00.drop(columns='Percent!!HOUSEHOLDS BY TYPE!!Households!!Family households (families)!!Married-couple family!!With own children under 18 years', inplace=True)
decennial_00.drop(columns='Percent!!RELATIONSHIP!!Population!!In households!!Other relatives', inplace=True)
decennial_00.drop(columns='Number!!RELATIONSHIP!!Population!!In households!!Other relatives!!Under 18 years', inplace=True)
decennial_00.drop(columns='Percent!!RELATIONSHIP!!Population!!In households!!Other relatives!!Under 18 years', inplace=True)
decennial_00.drop(columns='Number!!RELATIONSHIP!!Population!!In households!!Nonrelatives', inplace=True)
decennial_00.drop(columns='Percent!!RELATIONSHIP!!Population!!In households!!Nonrelatives', inplace=True)
decennial_00.drop(columns='Number!!RELATIONSHIP!!Population!!In households!!Nonrelatives!!Unmarried partner', inplace=True)
decennial_00.drop(columns='Percent!!RELATIONSHIP!!Population!!In households!!Nonrelatives!!Unmarried partner', inplace=True)
decennial_00.drop(columns='Number!!RELATIONSHIP!!Population!!In group quarters', inplace=True)
decennial_00.drop(columns='Percent!!RELATIONSHIP!!Population!!In group quarters', inplace=True)
decennial_00.drop(columns='Number!!RELATIONSHIP!!Population!!In group quarters!!Institutionalized population', inplace=True)
decennial_00.drop(columns='Percent!!RELATIONSHIP!!Population!!In group quarters!!Institutionalized population', inplace=True)
decennial_00.drop(columns='Number!!RELATIONSHIP!!Population!!In group quarters!!Noninstitutionalized population', inplace=True)
decennial_00.drop(columns='Percent!!RELATIONSHIP!!Population!!In group quarters!!Noninstitutionalized population', inplace=True)
decennial_00.drop(columns='Number!!RELATIONSHIP!!Population', inplace=True)
decennial_00.drop(columns='Percent!!RELATIONSHIP!!Population', inplace=True)
decennial_00.drop(columns='Number!!RELATIONSHIP!!Population!!In households', inplace= True)
decennial_00.drop(columns='Percent!!RELATIONSHIP!!Population!!In households', inplace= True)
decennial_00.drop(columns='Number!!RELATIONSHIP!!Population!!In households!!Householder', inplace= True)
decennial_00.drop(columns='Percent!!RELATIONSHIP!!Population!!In households!!Householder', inplace= True)
decennial_00.drop(columns='Number!!RELATIONSHIP!!Population!!In households!!Spouse', inplace= True)
decennial_00.drop(columns='Percent!!RELATIONSHIP!!Population!!In households!!Spouse', inplace= True)
decennial_00.drop(columns='Number!!RELATIONSHIP!!Population!!In households!!Child', inplace= True)
decennial_00.drop(columns='Percent!!RELATIONSHIP!!Population!!In households!!Child', inplace= True)
decennial_00.drop(columns='Number!!RELATIONSHIP!!Population!!In households!!Child!!Own child under 18 years', inplace= True)
decennial_00.drop(columns='Percent!!RELATIONSHIP!!Population!!In households!!Child!!Own child under 18 years', inplace= True)
decennial_00.drop(columns='Number!!RELATIONSHIP!!Population!!In households!!Other relatives', inplace= True)
decennial_00.drop(columns='Number!!Total population!!SEX AND AGE!!65 years and over!!Male' , inplace=True)
decennial_00.drop(columns='Percent!!Total population!!SEX AND AGE!!65 years and over!!Male' , inplace=True)
decennial_00.drop(columns='Number!!Total population!!SEX AND AGE!!65 years and over!!Female' , inplace= True)
decennial_00.drop(columns='Percent!!Total population!!SEX AND AGE!!65 years and over!!Female' , inplace= True)
decennial_00.drop(columns='Number!!Total population!!SEX AND AGE!!18 years and over', inplace=True)
decennial_00.drop(columns='Percent!!Total population!!SEX AND AGE!!18 years and over', inplace=True)
decennial_00.drop(columns='Number!!Total population!!SEX AND AGE!!18 years and over!!Male', inplace= True)
decennial_00.drop(columns='Percent!!Total population!!SEX AND AGE!!18 years and over!!Male', inplace= True)
decennial_00.drop(columns='Number!!Total population!!SEX AND AGE!!18 years and over!!Female', inplace=True)
decennial_00.drop(columns='Percent!!Total population!!SEX AND AGE!!18 years and over!!Female', inplace=True)
decennial_00.drop(columns='Number!!Total population!!SEX AND AGE!!21 years and over', inplace= True)
decennial_00.drop(columns='Percent!!Total population!!SEX AND AGE!!21 years and over', inplace= True)
decennial_00.drop(columns='Number!!Total population!!SEX AND AGE!!62 years and over', inplace=True)
decennial_00.drop(columns='Percent!!Total population!!SEX AND AGE!!62 years and over', inplace=True)
decennial_00.drop(columns='Number!!Total population!!SEX AND AGE!!65 years and over', inplace= True)
decennial_00.drop(columns='Percent!!Total population!!SEX AND AGE!!65 years and over', inplace= True)
decennial_00.drop(columns='Percent!!Total population', inplace= True)
decennial_00.drop(columns='Percent!!Total population!!SEX AND AGE!!Male', inplace=True)
decennial_00.drop(columns='Percent!!Total population!!SEX AND AGE!!Female', inplace=True)
decennial_00.drop(columns='Percent!!Total population!!SEX AND AGE!!Under 5 years', inplace= True)
decennial_00.drop(columns='Percent!!Total population!!SEX AND AGE!!5 to 9 years', inplace= True)
decennial_00.drop(columns='Percent!!Total population!!SEX AND AGE!!10 to 14 years', inplace= True)
decennial_00.drop(columns='Percent!!Total population!!SEX AND AGE!!15 to 19 years', inplace=True)
decennial_00.drop(columns='Percent!!Total population!!SEX AND AGE!!20 to 24 years', inplace=True)
decennial_00.drop(columns='Percent!!Total population!!SEX AND AGE!!25 to 34 years', inplace= True)
decennial_00.drop(columns='Percent!!Total population!!SEX AND AGE!!35 to 44 years', inplace= True)
decennial_00.drop(columns='Percent!!Total population!!SEX AND AGE!!45 to 54 years', inplace= True)
decennial_00.drop(columns='Percent!!Total population!!SEX AND AGE!!55 to 59 years', inplace=True)
decennial_00.drop(columns='Percent!!Total population!!SEX AND AGE!!60 to 64 years', inplace=True)
decennial_00.drop(columns='Percent!!Total population!!SEX AND AGE!!65 to 74 years', inplace= True)
decennial_00.drop(columns='Percent!!Total population!!SEX AND AGE!!75 to 84 years', inplace= True)
decennial_00.drop(columns='Percent!!Total population!!SEX AND AGE!!85 years and over', inplace= True)
decennial_00.drop(columns='Percent!!Total population!!SEX AND AGE!!Median age (years)', inplace=True)
decennial_00.drop(columns='Percent!!HOUSEHOLDS BY TYPE!!Households', inplace=True)
decennial_00.drop(columns='Percent!!HOUSEHOLDS BY TYPE!!Households!!Average household size', inplace= True)
decennial_00.drop(columns='Unnamed: 118', inplace= True)

In [78]:
renamed_columns = {'Number!!Total population': "total_population",
                   'Number!!Total population!!SEX AND AGE!!Male': "male",
                   'Number!!Total population!!SEX AND AGE!!Female': "female",
                   'Number!!Total population!!SEX AND AGE!!Under 5 years': "under_5_years",
                   'Number!!Total population!!SEX AND AGE!!5 to 9 years': '5_to_9_years',
                   'Number!!Total population!!SEX AND AGE!!10 to 14 years': '10_to_14_years',
                   'Number!!Total population!!SEX AND AGE!!15 to 19 years': '15_to_19_years',
                   'Number!!Total population!!SEX AND AGE!!20 to 24 years': '20_to_24_years',
                   'Number!!Total population!!SEX AND AGE!!25 to 34 years': '25_to_34_years',
                   'Number!!Total population!!SEX AND AGE!!35 to 44 years': '35_to_44_years',
                   'Number!!Total population!!SEX AND AGE!!45 to 54 years': '45_to_54_years',
                   'Number!!Total population!!SEX AND AGE!!55 to 59 years': '55_to_59_years',
                   'Number!!Total population!!SEX AND AGE!!60 to 64 years': '60_to_64_years',
                   'Number!!Total population!!SEX AND AGE!!65 to 74 years': '65_to_74_years',
                   'Number!!Total population!!SEX AND AGE!!75 to 84 years': '75_to_84_years',
                   'Number!!Total population!!SEX AND AGE!!85 years and over': '85_years_and_over',
                   'Number!!Total population!!SEX AND AGE!!Median age (years)': 'median_age',
                   'Number!!HOUSEHOLDS BY TYPE!!Households': 'households',
                   'Number!!HOUSEHOLDS BY TYPE!!Households!!Average household size': 'average_household_size'}
decennial_00.rename(columns=renamed_columns, inplace=True)

In [79]:
decennial_00.columns

Index(['Race/Ethnic Group', 'Population Groups', 'total_population', 'male',
       'female', 'under_5_years', '5_to_9_years', '10_to_14_years',
       '15_to_19_years', '20_to_24_years', '25_to_34_years', '35_to_44_years',
       '45_to_54_years', '55_to_59_years', '60_to_64_years', '65_to_74_years',
       '75_to_84_years', '85_years_and_over', 'median_age', 'households',
       'average_household_size', 'year', 'GEOID'],
      dtype='object')

In [81]:
decennial_00["Age < 15"] = decennial_00['under_5_years'] + decennial_00['5_to_9_years'] + decennial_00['10_to_14_years']
decennial_00["Age 15-24"] = decennial_00['15_to_19_years'] + decennial_00['20_to_24_years']
decennial_00["Age 25-44"] = decennial_00['25_to_34_years'] + decennial_00['35_to_44_years']
decennial_00["Age 45-64"] = decennial_00['45_to_54_years'] + decennial_00['55_to_59_years'] + decennial_00['60_to_64_years']
decennial_00["Age >= 65"] = decennial_00['65_to_74_years'] + decennial_00['75_to_84_years'] + decennial_00['85_years_and_over']

In [83]:
decennial_00.drop(columns= ['under_5_years', '5_to_9_years', '10_to_14_years',
                            '15_to_19_years', '20_to_24_years', '25_to_34_years',
                            '35_to_44_years', '45_to_54_years', '55_to_59_years',
                            '60_to_64_years', '65_to_74_years', '75_to_84_years',
                            '85_years_and_over'], inplace=True)

In [84]:
decennial_00.head()

,Race/Ethnic Group,Population Groups,total_population,male,female,median_age,households,average_household_size,year,GEOID,Age < 15,Age 15-24,Age 25-44,Age 45-64,Age >= 65
0,1,Total population,43671,21177,22494,35.1,15972,2.72,2000,01001,10468,5614,13304,9843,4442
1,2,White alone,34960,17178,17782,35.9,13103,2.67,2000,01001,8048,4122,10990,8143,3657
2,3,White alone or in combination with one or more...,35410,17426,17984,35.8,13249,2.67,2000,01001,8198,4203,11109,8220,3680
3,4,Black or African American alone,7481,3463,4018,31.2,2566,2.92,2000,01001,2050,1226,1990,1468,747
4,5,Black or African American alone or in combinat...,7568,3499,4069,31.2,2591,2.91,2000,01001,2091,1231,1994,1495,757